.gameContainer {
    position: relative;
    flex-flow: column;
    align-items: center;
    width: auto;
    margin: 0px 34px 15px 34px;
    background-color: #1b4d5c;
    color: white;
    border-radius: 5px;
}

.firstOtherGame {
    background-color: #227b7b;
}

.secondOtherGame {
    background-color: #2c2826;
}

.thirdOtherGame {
    background-color: #576b78;
}

.gameContainer > div {
    justify-content: center;
}

.gamePic {
    height: 193px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.gameBody {
    margin: 32px;
    flex-direction: column;
    align-items: center;
}

.gameTitle {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0 0 0.75rem;
}

.gameTags {
    flex-direction: row;
    margin-bottom: 1.25em;
    justify-content: center;
}

.gameTagsGroup {
    width: auto;
    justify-content: flex-start;
    margin: 0px 4px;
}

.gameTag {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: 600;
    border-radius: 25px;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0px 4px;
}

.tagOverCardImage {
    background-color: #f3406a;
    position: absolute;
    top: 2em;
    left: 2em;
    margin-left: 0;
    pointer-events: none;
    z-index: 10;
}

.gameTagsGroup > .gameTag {
    margin: 0px;
}

.gameTagsGroup > :nth-child(1).gameTag {
    border-radius: 12px 0px 0px 12px;
}
.gameTagsGroup > :nth-child(2).gameTag {
    border-radius: 0px 12px 12px 0px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.gameFooterContainer {
    justify-content: center;
    background-color: rgb(0 0 0 / 15%);
    border-radius: 0px 0px 5px 5px;
}

.gameFooter {
    display: flex;
    justify-content: center;
    margin: 0.75rem 1.25rem;
    color: white;
    flex-wrap: wrap;
    border-radius: 5px;
}

.otherGameFooter {
    margin: 1.5rem 1.25rem;
}

.gameBody > h3 {
    align-self: flex-start;
    font-size: 1.4em;
    margin-bottom: 0.25em;
    margin-top: 0px;
}

.gameFooter > .button {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    padding: 7.5px 16px;
    margin: 2.5px 5px;
}

.gameFooter > :nth-child(3).button {
    background-color: #f3406a;
}

.moreGamesDescription {
    align-self: center;
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
}

@media (min-width: 400px) {
    .gameFooter {
        justify-content: space-between;
    }
}
