body {
    margin: 0px;
    background-color: #f5f7f9;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #17678e;
}

main {
    display: flex;
    flex-direction: column;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
}

section {
    padding: 54px 0px;
}

footer {
    display: flex;
    background-color: #112e51;
    color: rgba(255, 255, 255, 0.9);
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 30px;
    align-items: flex-start;
    font-size: 18px;
}

h1 {
    width: 100%;
}

div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.small {
    width: 100%;
    display: flex;
}

nav {
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h2 {
    margin: 0px 0px 6.4px 0px;
    font-size: 1.3rem;
}

p {
    margin: 0px 0px 1rem 0px;
    font-size: 14px;
    font-weight: 300;
    flex-wrap: wrap;
    line-height: 1.5;
    align-self: flex-start;
}

.subscribe {
    padding: 3em 0px;
    background-color: #17678e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subscribeContainer {
    flex-direction: column;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    align-items: center;
    justify-content: center;
    padding: 0px 32px;
}

form > div {
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 15px;
}

input[type="text"] {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: none;
    display: block;
    width: 100%;
    min-width: 200px;
    font-size: 1.25rem;
    color: #495057;
}

::placeholder {
    color: #b0b6bb;
}

input[type="submit"] {
    margin: 1rem 0px;
    background-color: #17a2b8;
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.25rem;
}

.footerContainer {
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 18px;
}

footer > div > nav {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

footer > div > nav:nth-child(6) {
    width: 100%;
    justify-content: center;
}

nav > a {
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
}

ul {
    padding: 0px;
    list-style-type: none;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
nav > ul {
    margin: 0px;
    align-items: flex-start;
}

ul > li {
    margin: 10px 0px;
}

nav > ul > li:nth-child(1) {
    font-weight: 600;
}

.updatesbox {
    background-color: #17678e;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
    }

    nav {
        flex-direction: row;
    }

    nav > ul {
        flex-direction: row;
    }

    footer > div > nav > ul {
        flex-direction: column;
    }

    footer {
        flex-direction: row;
    }

    footer > div > nav {
        max-width: 25%;
    }
    footer > div > nav:nth-child(6) {
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    footer > div > nav {
        max-width: 16.666667%;
    }

    footer > div > nav:nth-child(6) {
        max-width: 33.33333%;
    }
}

@media (min-width: 1200px) {
    .footerContainer {
        max-width: 1140px;
        justify-self: center;
    }
}
